:root{
    --primary-color: #CCD5AE;
    ---secondary-color: #E9EDC9;
    --accent1-color: #D4A373;
    ---accent2-color:#FAEDCD;
    --font-primary: "Saira Semi Condensed", sans-serif;
    --font-secondary: "Nunito Sans", sans-serif;

}

body{
    margin: 0;
}

h1{
    font-family: var(--font-primary);
    font-weight: 700;
    font-style: normal;
    color: var(--primary-color);
}

h2 {
    font-family: var(--font-primary);
    font-weight: 500;
    font-style: normal;
    color: var(--accent1-color);
}

p {
    font-family: var(--font-secondary);
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
}

.socialHiperlinks {
    text-decoration: none;
    background-color: var(---secondary-color);
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.socialHiperlinks p {
    margin: 0px;
}

header{
	display: grid;
	grid-template-columns: 60vh 1fr;
	align-items: center;
	max-width: 100%;
    padding: 0px 20px 0px 20px;
    background: var(---accent2-color);
}

header img {
    width: 100px;
    height: auto;
    padding: 10px;
}

header nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero {
    position: relative;
    width: 100%;
    overflow: hidden;

}
.hero h1 {
    position: absolute;
    text-align: center;
    top: 15%;
    background-color: rgba(128, 128, 128, 0.565); 
    width: 100%;

}

.hero article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    background-color: rgba(52, 52, 192, 0.281);
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
    gap: 10px;
}
.hero article img {
    width: 100px;
    height: auto;
    align-items: center;
}

.hern article p {
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin: 0;
}

.history-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    background-color: var(--primary-color);
}

.history-section div h2{
    margin: 0px;
    text-align: center;
}


.history-section p {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.socialHiperlinks a img{
    width: 25px;
    height: auto;
    margin: 0 10px;
}

#galley-bg {
background: var(---secondary-color);
}
.team-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;

}

.gallery figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: auto;
    margin: auto;
}

.img-gallery {
    max-width: 220px;
    max-height: 150px;
}

.employee {
    max-width: 340px;
    max-height: 420px;
}

.gallery figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.gallery{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-section{
    background: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    
}

.contact-section p {
    text-align: center;
    margin: 0px;
}

.contact-section h1 {
    text-align: center;
    margin: 0px;
    padding-top: 10px;
    color: white;
    font-size: 3rem;
}

.contact-section div {
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    width: 40%;
}

.contact-section div ul {
    list-style: none;
}

.contact-section div ul li {
    font-size: 1.5rem;
    font-family: var(--font-secondary);
    font-weight: 500;

}
.contact-section div ul li a {
    font-size: 1.5rem;
    font-weight: 200;
    text-decoration: none;
    color: black;
}


.address{
    background: var(--accent1-color);
    padding: 10px;
}

.question-section{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
}

.question-option{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.text-area-message{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.question-option p {
    margin:0px;
}

.form{
    background: var(--primary-color);
    padding: 10px;
}
fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid white;
    padding: 1rem;
  }
  legend {
    padding: 0.5rem;
    color: white;
    font-size: 1.3em;
    font-family: var(--font-primary);
  }
  label, input, button, textarea {
    font-family: var(--font-secondary)
  }
button {
    margin: 1rem;
    background-color: var(---secondary-color);
    color: black;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
  }
  label {
    text-align: left;
    padding-right: 1rem;
    
  }

  input, textarea {
    padding: 0.1rem;
    font-size: 1.1rem;
  }
  button:hover {
    background-color: var(---accent2-color);
  }
  input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
  }
  input[type="radio"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
  }
  .image-home{
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  .hero .hero-title {
    background: linear-gradient(rgba(128, 128, 128, 0.565), white);
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    top: -16.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size:10rem;
    color: white;
  }

  .hero-title p{
    margin: 0px;
  }

  .gallery-home{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }

    .gallery-home figure {
        border: thin #c0c0c0 solid;
        display: flex;
        flex-flow: column;
        padding: 5px;
        max-width: auto;
        margin: auto;
    }

.img-gallery-home {
    max-width: 550px;
    max-height: 250px;
}

.gallery-home figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.registration-container {
    position: relative;
    height: 400px;
    width: 80%;
    padding-top: 30px;
    padding-left: 15px;
}

.registration-container-banner{
    width: 100%;
    height: 300px;
    background-color: var(--accent1-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registration-container-banner h1{
    color:#FAEDCD;
   font-family: var(--font-primary);
   font-size: 50px;
}

.registration-container-form{
    width: 35%;
    background-color: var(---accent2-color);
    position: absolute;
    top: 20%;
    left: 80%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.registration-form{
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
}

.registration-form legend{
    color: black;
    font-size: 1.3em;
    font-family: var(--font-primary);
}

.button-register{
    background-color: #FAEDCD;
    border: 1px solid black;
    border-radius: 10px;
}

.button-register:hover{
    background-color: #c3b9a2;
}

.container-trips{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}

.contact-us-action{
    width: 25%;
    background-color: var(--accent1-color);
    display: flex;
    flex-direction: column  ;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.contact-us-action h1 {
    color: #FAEDCD;
    font-family: var(--font-primary);
    font-size: 50px;
    text-align: center;
}
.trip-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    width: 75%;
}


.trip-container div{
    width: 350px;
}

.trip-container div img{
    width:100%;
    height: 200px;;
}

.trip-title{
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    margin: 0px;
    font-size: 40px;
    text-align: center;
}

.btn-contact {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(---accent2-color);
    color: var(--accent1-color);
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    font-family: var(--font-secondary);
  }
  
  .btn-contact:hover {
    background-color: #ffebbd;
  }

.trip-table{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(---accent2-color)
    
}
.trip-table h2{
    color: var(--primary-color);
    font-family: var(--font-primary);
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
}

.trip-table table{
    width: 90%;
    padding-top: 20px;
    padding-bottom: 40px;
}

.trip-table table th{
    background-color: var(--accent1-color);
    color: black;
    padding: 10px;
    text-align: center;
    font-family: var(--font-secondary);
}
.trip-table table td{
    background-color: var(--primary-color);
    color: black;
    padding: 10px;
    text-align: center;
    font-family: var(--font-secondary)
}